h1 {
    text-align: center;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}
.container-2 {
    background-color: rgb(236, 249, 252);
    margin: 7px;
    border: none;
    border-bottom: none;
    border-radius: 15px;
}

h3 {
    margin-top: 10px;
    text-align: center;
}

img {
    width: 300px;
    border-radius: 0 0 15px 15px;
}